@model IEnumerable<LibraryMSMVC.Models.tblTransaction>

@{
    ViewBag.Title = "Requested";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h4>Requested list</h4>
<hr />
<div class="col-6 offset-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6">

                <div class="card" style="max-width: 18rem;">
                    <div class="card-header">
                        <i class="fas fa-book"></i>
                        @Html.DisplayFor(modelItem => item.BookTitle)
                    </div>
                    <div class="card-body">
                        <div>
                            <h6 class="card-title">Book ISBN</h6>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.BookISBN)
                            </p>

                        </div>
                        <div>
                            <h6 class="card-title">Requested Date</h6>
                            <p class="card-text">
                                @Html.DisplayFor(modelItem => item.TranDate)
                            </p>
                        </div>

                        <div onclick="requestCancel()" class="btn btn-sm btn-danger" data-toggle='tooltip' title='Cancel request' style="margin-top:16px">
                            <i class="fas fa-minus-circle"></i>
                            @Html.ActionLink("Cancel", "DeleteRequest", new { tranId = item.TranId }, new { @class = "", style = "text-decoration:none; color: white" })
                        </div>
                    </div>

                </div>
                <br />
            </div>

        }
    </div>
    <div id="request" style="margin:30%" class="text-center text-danger">@Session["requestMessage"]</div>
</div>

<script>
    @*Scripts for cancel alert*@
    function requestCancel(){
                alert("Book request canceled successfully")
                }
</script>


    @*<table class="table">
            <tr>
                <th>
                    Book Title
                </th>
                <th>
                    Book ISBN
                </th>
                <th>
                    Requested Date
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.TranId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.TranId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.TranId })
                </td>
            </tr>
        }
        </table>*@
